body {
  overflow-y: scroll;
}

.error {
  color: red;
  font-weight: bold;
}

.mb-0 {
  margin-bottom: 0;
}

.ml-1 {
  margin-left: 1rem;
}

.navigation {
  background: #f4f5f6;
  border-bottom: 1px solid #d1d1d1;
}
.navigation .navigation-list {
  list-style: none;
}
.navigation .navigation-item {
  float: left;
  margin-left: 2.5rem;
  position: relative;
}
.navigation .navigation-title,
.navigation .title {
  color: #606c76;
  position: relative;
}
.navigation .navigation-link,
.navigation .navigation-title,
.navigation .title {
  display: inline;
  font-size: 1.6rem;
  line-height: 5.2rem;
  padding: 0;
  text-decoration: none;
}
.navigation .navigation-link.active {
  color: #606c76;
}
